h1 {
  text-align: center;
}

.square {
  text-align: center;
  font-size: 85px;
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;

}

.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}